[submodule "pytorch_neat/pytorch-OpCounter"]
	path = pytorch_neat/pytorch-OpCounter
	url = https://github.com/marvosyntactical/pytorch-OpCounter
[submodule "pybullet-gym"]
	path = pybullet-gym
	url = https://github.com/benelot/pybullet-gym
